.article {
  display: flex;
  align-items: flex-start;
  width: 32%;
}

.footer_article_image {
  width: 30%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 0 10px;
}

.heading1 {
  font-size: 2.5rem;
  color: var(--grayish_blue);
}

.heading2 {
  font-size: 1.5rem;
  color: var(--very_dark_blue);
}

.paragraph {
  font-size: 1.5rem;
  color: var(--dark_grayish_blue);
}
