.article {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "hero_image hero_image"
    "heading wrapper";
}

.hero_image {
  grid-area: hero_image;
  width: 100%;
  margin-bottom: 2rem;
  padding-right: 2rem;
}

.heading {
  grid-area: heading;
  font-size: 4rem;
  line-height: 0.98;
  font-weight: 900;
  margin-right: 20px;
}

.wrapper {
  grid-area: wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 2rem;
}

.button {
  background-color: var(--soft_red);
  color: var(--off_white);
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
}
