.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  height: 10rem;
  background-color: var(--off_white);
}

.logo {
  height: 4rem;
}

.link_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--soft_red);
}

.hamburger_menu {
  display: none;
}

@media (max-width: 800px) {
  .navigation {
    height: 6rem;
    padding-top: 0rem;
  }

  .logo {
    height: 2rem;
  }

  .link_list {
    display: none;
  }

  .hamburger_menu {
    display: unset;
  }
}
