.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.form_fieldset {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 1rem;
  cursor: pointer;
}
